@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    height: 100%;
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #778899;
}

#root {
    display: flex;
    flex-direction: column ;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}