h1,
h2 {
    margin: 0;
    font-weight: unset;
}

button {
    border: none;
    background-color: black;
    cursor: pointer;
    border-radius: 6px;
    color: white;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}